<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medication catalog</title>
</head>
<body>
<h1>Medications catalog</h1>

<p th:if="${#lists.isEmpty(allMedications)}">No medications found</p>

<table th:unless="${#lists.isEmpty(allMedications)}">
    <thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medication: ${allMedications}">
        <td th:text="${medication.title}">Medication</td>
        <td th:text="${medication.price}">0</td>
        <td th:text="${medication.medicationType}">type</td>
    </tr>
    </tbody>
</table>
</body>
</html>